fastapi
uvicorn[standard]
 
langchain
langchain-community
langchain-core
langchain-text-splitters
 
pypdf
pymupdf
openpyxl
 
numpy
scikit-learn
 
pinecone
charset-normalizer
 
pydantic
pydantic-settings
langchain_openrouter
python-dotenv
python-multipart
requests
pandas
 