fastapi
uvicorn[standard]


langchain
langchain-community
langchain-text-splitters

sentence-transformers

chromadb

pypdf
pymupdf

numpy
scikit-learn

pydantic
pydantic-settings
langchain_openrouter
python-dotenv
python-multipart
requests
